<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="../assets/css/style.css" type="text/css" />
		<title>News or Not</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/news.js" type = "text/javascript"></script>
		<script src="https://cdn.auth0.com/js/auth0/9.6.1/auth0.min.js"></script>
    {{!-- <script src="../node_modules/auth0-js/build/auth0.js" type = "text/javascript"></script> --}}
    <script src="/js/auth0-variables.js" type = "text/javascript"></script>
		</head>
	<body>
		{{{ body }}}
	</body>
</html>
