<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eat Da Burger</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css">
</head>
<body>

    <article>
        <div class= "container bg-secondary text-white p-2 pb-4 m-2">
            <div class = "container col-12">
                <h3>Title</h3>
                <hr size= "70" color = "white">
                <h4><i>Author</i></h4>
            </div>
            <div class= "col-8 col-sm-12">
            <p>DESCRIPTION: LOREM IPSUM QUAD ERAT REDORE</p>
            <a class= "btn btn-danger" href = "linkdata">Read Article</a>
            </div>
            <div class="container col-4 col-sm-12 row">
                    <div class="form-group col-4">
                        <label for="truth">Truthfulness:</label>
                            <select class="form-control" id="truth">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                    </div>
                    <div class="form-group col-4">
                        <label for="truth">Quality:</label>
                            <select class="form-control" id="truth">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                    </div>
                    <div class="form-group col-4">
                        <label for="truth">Readability:</label>
                            <select class="form-control" id="truth">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                    </div>            
                </div>
        </div>
    </article>

        <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/frontEnd.js"></script>
</body>
</html>