<nav>

        <nav class="blue darken-4" role="navigation">
            <div class="nav-wrapper container">
                <img src="./assets/images/FakeNews.jpg" class="center"
                    alt="logo" height="60" width="80">
                <a id="logo-container" href="#" class="brand-logo center red-text"><b>Fake News Death Match</b> </a>
                <!-- <a href="#" class="brand-logo">Logo</a>-->
                <ul id="nav-mobile" class="right hide-on-med-and-down">

                    <li>
                        <a href="collapsible.html">Login</a>
                    </li>
                </ul>
            </div>
        </nav>



        <div class="row center">
            <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center">

            <!-- <button id="searchBtn" div class="col l4 m12 offset-l4 btn-large waves-effect waves-light orange" type="submit">Login</button>

                <input id="articleSearch" div class="col l4 offset-l4" placeholder="User Name" type="text"> -->
            </form>
        </div>
        </div>
    </nav>
    <br>
    <br>

    <div class="row center">

    </div>

    <div class="container">
        <div class="card-panel blue darken-4 section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s4 m3">
                    <div class="icon-block">
                        <h2 class=" center">
                            <!-- <i class="large material-icons">cake</i> -->
                        </h2>
                        <!-- <h5 class="center">CNN</h5>-->
                        <h5>
                                <span class="white-text text">CNN </span>
                        </h5>
                        <img src="./assets/images/cnn_logo (1).jpg"  class="auth-image" alt="Your Name">

                        <p class="light"></p>
                    </div>
                </div>

                <div class="col s4 m3">
                    <div class="icon-block">
                        <h2 class="center orange-text">
                            <!--<i class="large material-icons">group</i> -->
                        </h2>
                        <!-- <h5 class="center">XYZ</h5>-->
                        <h5>
                                <span class="white-text text">Fox News </span>
                        </h5>
                        <img src="./assets/images/fox_logo (1).jpg" class="auth-image" alt="Your Name">
                        <p class="light"></p>
                    </div>
                </div>

                <div class="col s4 m3">
                    <div class="icon-block">
                        <h2 class="center teal lighten-2">
                            <!--<i class="large material-icons">cloud</i>
                        </h2>-->
                            <!--<h5 class="center">ABC</h5>-->
                            <h5>
                                    <span class="white-text text">New York Times </span>
                            </h5>
                            <img src="./assets/images/nyt_logo.jpg" class="auth-image" alt="Your Name">
                            <p class="light"> </p>
                    </div>
                </div>


                <table class="responsive-table white-text" >
                        <thead>
                            <br>
                            <br>

                          <tr>
                              <th>News Organization</th>
                              <th>Rating</th>
                          </tr>
                        </thead>
                
                        <tbody>
                          <tr>
                            <td>CNN</td>
                            <td>5</td>
                            
                          </tr>
                          <tr>
                            <td>Fox News</td>
                            <td>4</td>
                        
                          </tr>
                          <tr>
                            <td>New York Times</td>
                            <td>3</td>
                           
                          </tr>
                        </tbody>
                      </table>
                            

                <div class="section no-pad-bot" id="index-banner">
                    <div class="container">
                {{#each article}}
                {{> article}}
                {{/each}}
                    </div>
 
                </div>
                                <div class="footer-copyright">
                                  <div class="container">
                                  © 2018 Copyright 
                                  <a class="grey-text text-lighten-4 right" href="#!"></a>
                                  </div>
                                </div>
                              </footer>
                                  

                        <!--  Scripts-->
                        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
                        

                    </script>