<body>
    
    <link rel="stylesheet" href="public/assets/style.css">
    <header id="masthead">
        <div class="container">
            <div class="logo-wrapper">
                <img src="../assets/images/FakeNews.jpg" id="brand-logo">
                <!--../assets/css/style.css-->
                <strong>
                    <a>Fake News Death Match</a>
                </strong>
            </div>
    </header>
    <section id="logon">
        <nav>
            <div class="content">
                <nav class="navbar navbar-default">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href=""></a>
                            <button id="btn-home-view" class="btn btn-primary btn-margin">
                               
                            </button>
                            <button id="qsLoginBtn" class="btn btn-primary btn-margin">
                                Log In
                            </button>
                            <button id="qsLogoutBtn" class="btn btn-primary btn-margin">
                                Log Out
                            </button>
                        </div>
                    </div>
                </nav>
    </section>
    <section>
        {{!-- <nav>
        </nav> --}}
        <article>
            <table id="t01">
                <tr>
                    <h1>
                        <strong>
                            <th>News Agency</th>
                        </strong>
                    </h1>
                    <strong>
                        <th>Rating</th>
                    </strong>

                </tr>
                <tr>
                    <td>CNN</td>
                    <td>3</td>

                </tr>
                <tr>
                    <td>FOX</td>
                    <td>4</td>

                </tr>
                <tr>
                    <td>NYT</td>
                    <td>5</td>

                </tr>
            </table>

            <br>
            <div class="rate">

                <button type="button" onclick="alert('News Rating!')">Rating !!!</button>
            </div>

        </article>
    </section>

    <section>
        <nav>
            <ul>
                <li>
                    <img src="../assets/images/fox_logo (1).jpg" class="auth-image" alt="FOX">
                </li>
                <li>
                    <img src="../assets/images/cnn_logo (1).jpg" class="auth-image" alt="CNN">
                </li>
                <li>
                    <img src="../assets/images/image (2).png" class="auth-image" alt="NYT">
                </li>

            </ul>
        </nav>
                <div class="section no-pad-bot" id="index-banner">
                    <div class="container">

                {{#each articlesObj}}
                {{> articleReview}}
                {{/each}}
                    </div>
                </div>


    </section>

    <footer>
        <h4 id="copyright">
            <strong>Fake News Network&copy; 2018</strong>
            </p>
    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>


    </script>